html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

main {
  height: 100%;
  position: relative;
}

@import 'paper';
@import 'note';
@import 'search-box';
@import 'zoom-control';
