.note {
  position: absolute;
  transform-origin: 0% 0%;
  width: 400px;

  *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

textarea.note {
  background: rgba(248, 248, 248, 0.7);
  font-size: 16px;
  min-height: 200px;
  outline: none;
}
