.paper {
  -webkit-transform: none;
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 50% 50%;
  cursor: move;
  background: url(/images/bg.png);
  background-size: 320px 400px;
  width: 10000px;
  height: 6000px;
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
}
