.paper {
  -webkit-transform: none;
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 50% 50%;
  cursor: move;
  background: url(/images/bg-cloth.jpg);
  transform: matrix(1, 0, 0, 1, -5000, -3000);
  width: 10000px;
  height: 6000px;
}
