.search-box {
  .entry {
    background: #f8f8f8;
    border-radius: 0.15rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    height: 1.85rem;
    left: 50px;
    position: absolute;
    top: 50px;
    width: 400px;

    input {
      border: 0;
      border-radius: 0.15rem 0 0 0.15rem;
      display: inline-block;
      font-size: 1rem;
      height: 100%;
      margin: 0;
      outline: none;
      padding: 0 10px;
      width: 310px;
    }

    button {
      background: #009f52;
      border: 0;
      border-radius: 0 0.15rem 0.15rem 0;
      color: white;
      display: inline-block;
      float: right;
      height: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 70px;

      img {
        margin-top: 2px;
      }
    }
  }

  .results {
    background: #f8f8f8;
    border-radius: 0.15rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    left: 50px;
    position: absolute;
    top: 81px;
    width: 400px;

    p {
      border-top: 1px solid #e6e6e6;
      margin: 0;
      padding: 0.5rem;
    }

    a {
      color: #444;
      text-decoration: none;
    }
  }
}
